# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Node
node_modules/
.next/
out/
dist/
.turbo/

# Env
.env
.env.local
.env.*.local

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# OS/editor
.DS_Store
.vscode/
.idea/
*.swp
